<div class="aside-container" [ngClass]="{'hide-aside' : hideAside}">
    <div class="header-aside">
        <img class="avatar" src="assets/avatar.jpg" alt="Avatar">
        <h4 class="name">Roger Fernando de O. Carvalho</h4>
        <i class="gg-close btn-close-aside" (click)="toggleAside()"></i>
    </div>
    <div class="aside-btn-list">
        <details class="collapse">
            <summary class="title">
                <div class="aside-btn" data-bs-toggle="collapse" href="#collapseExample"><i class="gg-boy"></i>Quem é o Roger?</div>
            </summary>
            <div class="description">
                <div class="vertical-bar"></div>
                <div class="container-btn">
                    <div class="container-btn-item">
                        <div class="horizontal-bar"></div>
                        <div class="aside-btn"><i class="gg-terminal"></i>Hard skils</div>
                    </div>
                    <div class="container-btn-item">
                        <div class="horizontal-bar"></div>
                        <div class="aside-btn"><i class="gg-smile"></i>Soft skils</div>
                    </div> 
                </div>               
            </div>
        </details>
        <div class="aside-btn"><i class="gg-card-clubs"></i>Sub item</div>
        <div class="aside-btn"><i class="gg-card-clubs"></i>Sub item</div>
        <div class="aside-btn"><i class="gg-card-clubs"></i>Sub item</div>
        <div class="aside-btn"><i class="gg-sand-clock"></i>Cronometro</div>
        <div class="aside-btn"><i class="gg-calculator"></i>Calculadora</div>
        <div class="aside-btn"><i class="gg-layout-list"></i>To do list</div>
    </div>
</div>