<div class="aside-container" [ngClass]="{'hide-aside' : hideAside}">
    <img class="avatar" src="assets/avatar.jpg" alt="Avatar">
    <h4 class="name">Roger Fernando de O. Carvalho</h4>
    <i class="gg-close btn-close-aside" (click)="toggleAside()"></i>
    <div class="aside-btn-list">
        <button type="button" class="aside-btn"><i class="gg-boy"></i>Quem é o Roger?</button>
        <button type="button" class="aside-btn"><i class="gg-card-clubs"></i>Sub item</button>
        <button type="button" class="aside-btn"><i class="gg-card-clubs"></i>Sub item</button>
        <button type="button" class="aside-btn"><i class="gg-card-clubs"></i>Sub item</button>
        <button type="button" class="aside-btn"><i class="gg-terminal"></i>Hard skils</button>
        <button type="button" class="aside-btn"><i class="gg-smile"></i>Soft skils</button>
        <button type="button" class="aside-btn"><i class="gg-sand-clock"></i>Cronometro</button>
        <button type="button" class="aside-btn"><i class="gg-calculator"></i>Calculadora</button>
        <button type="button" class="aside-btn"><i class="gg-layout-list"></i>To do list</button>
    </div>
</div>