<div class="aside-container" [ngClass]="{'hide-aside' : hideAside}">
    <div class="header-aside">
        <img class="avatar" src="assets/avatar.png" alt="Avatar">
        <h4 class="name">Roger Fernando Carvalho</h4>
        <div class="container-btn-close" [ngClass]="{'active' : !hideAside}" (click)="toggleAside()">
            <div class="btn">
            <div class="btn-left"></div>
        <div class="btn-right"></div>
      </div>
    </div>
    </div>
    <div class="aside-btn-list">
        <details class="collapse">
            <summary class="title">
                <div class="aside-btn" data-bs-toggle="collapse" href="#collapseExample"><i class="gg-boy"></i>Quem é o Roger?</div>
            </summary>
            <div class="description">
                <div class="vertical-bar"></div>
                <div class="container-btn">
                    <div class="container-btn-item">
                        <div class="horizontal-bar"></div>
                        <div class="aside-btn" routerLink="/about" routerLinkActive="selected"><i class="gg-terminal"></i>Sobre</div>
                    </div>
                    <div class="container-btn-item">
                        <div class="horizontal-bar"></div>
                        <div class="aside-btn" routerLink="/hardSkills" routerLinkActive="selected"><i class="gg-terminal"></i>Hard skils</div>
                    </div>
                    <div class="container-btn-item">
                        <div class="horizontal-bar"></div>
                        <div class="aside-btn" routerLink="/softSkills" routerLinkActive="selected"><i class="gg-smile"></i>Soft skils</div>
                    </div> 
                </div>               
            </div>
        </details>
        <div class="aside-btn" routerLink="/weather" routerLinkActive="selected"><i class="gg-sun"></i>Clima</div>
        <div class="aside-btn" routerLink="/ticTacToe" routerLinkActive="selected"><i class="gg-hashtag"></i>Jogo da velha</div>
        <div class="aside-btn" routerLink="/clock" routerLinkActive="selected"><i class="gg-stopwatch"></i>Relógio</div>
        <div class="aside-btn" routerLink="/modeling" routerLinkActive="selected"><i class="gg-border-all"></i>Modeling</div>
        <div class="aside-btn" routerLink="/cronometer" routerLinkActive="selected"><i class="gg-sand-clock"></i>Cronometro</div>
        <div class="aside-btn" routerLink="/calculator" routerLinkActive="selected"><i class="gg-calculator"></i>Calculadora</div>
        <div class="aside-btn" routerLink="/toDo" routerLinkActive="selected"><i class="gg-layout-list"></i>To do list</div>
    </div>
</div>