.aside-container {
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    transition: 500ms;

    &.hide-aside {
        display: none;
        transition: 500ms
    }

    .avatar {
        border-radius: 100%;
        max-width: 150px;
        border: 5px solid #c56534;
    }

    .name {
        font-weight: 100 ;
        font-size: 1.4rem;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid #c56534;
        padding: 32px 0;
        margin-bottom: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .btn-close-aside {
        position: absolute;
        top: 25px;
        left: 259px;
        cursor: pointer;
        --ggs: 2;

        &:hover {
            background-color: #393939;
            border-radius: 100%;
        }
    }

    .aside-btn-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .aside-btn {
            border-radius: 10px;
            padding: 16px;
            cursor: pointer;
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            i {
                margin-right: 16px;
            }

            &:hover, &:active {
                background-color: #272727;
            }
        }
    }

    &.hide-aside {
        position: absolute;
        left: -300px;
        transition-delay: 300ms;
        transition: 300ms;
    }
}