<div class="container-top">
    <div class="first-row">
        <div class="title-container">
            <h2 class="text-primary">— Olá, me chamo Roger.</h2>
            <h2 class="text-hight-contrast">Sou desenvolvedor web</h2>
        </div>

        <div class="avatar-container"></div>
    </div>
    
    <span>O que temos que ter sempre em mente é que o acompanhamento das preferências de consumo exige a precisão e a definição do sistema de formação de quadros que corresponde às necessidades.</span>

</div>