
$themes: (
  theme-light: (
    background: #ececec,
    color: #0f0f0f,
    hight-light: #c56534,
    light: #f2f2f2,
    shadow: 22px 0px 10px -20px rgb(106 106 106),
  ),
  theme-dark: (
    background: #0f0f0f,
    color: #e3f1e3,
    hight-light: #c56534,
    light: #EDFCEA,
    shadow: 22px 0px 24px -8px rgb(0, 0, 0),
  )
);

@mixin theme_variables($theme, $background, $color, $hight-light, $light, $shadow) {
    .#{$theme} {
        background-color: $background;
        color: $color;

        .grid-item {
            &.aside {
                -webkit-box-shadow: $shadow;
                -moz-box-shadow: $shadow;
                box-shadow: $shadow;
            }
        }
    }
}

@function map-deep-get($map, $keys...) {
    $value: $map;
    @each $key in $keys {
        $value: map-get($value, $key);
    }
    @return $value;
}

@each $class in map-keys($themes) {
    $background: map-deep-get($themes, $class, background);
    $color: map-deep-get($themes, $class, color);
    $hight-light: map-deep-get($themes, $class, hight-light);
    $light: map-deep-get($themes, $class, light);
    $shadow:  map-deep-get($themes, $class, shadow);

    // INCLUIR TODOS OS MIXINS DE CADA COMPONENTE;
    @include theme_variables($class, $background, $color, $hight-light, $light, $shadow);
   
}


