.grid-mercurio {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 70px auto;
    color: #e3f1e3;
    transition: 300ms;

    .grid-item {
        
        &.aside {
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            height: 100vh;
            display: flex;    
            z-index: 999;
            -webkit-box-shadow: 22px 0px 24px -8px rgba(15,12,15,1);
            -moz-box-shadow: 22px 0px 24px -8px rgba(15,12,15,1);
            box-shadow: 22px 0px 24px -8px rgb(0 0 0);
        }

        &.navbar {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
            padding: 16px;
            border-bottom: 1px solid #c56534;
        }

        &.content {
            grid-column: 2/4;
            grid-row: 2/4;
            padding: 16px;
        }
    }

    &.hide-aside {
        grid-template-columns: 0px auto;
        transition: 300ms;

        .grid-item {
            &.aside {
                .aside-container {
                    position: absolute;
                    left: -300px;
                    transition: 300ms;
                }

            }
        }
    }
}