/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700;1,900&display=swap');
@import "./app/styles/styles";

// Removing default styles
html, body {
    padding: 0;
    margin: 0;;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #0f0f0f;    

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $dark;
        border-radius: 4px;
    }

    &.theme-light {
        ::-webkit-scrollbar-thumb {
            background-color: $primary;
        }
    }
}

@mixin theme-grid($theme, $v50, $v100, $v200, $v300, $v400, $v500) {

        // ::-webkit-scrollbar-thumb {
        //     background-color: #272727;
        // }
        html, body {
            ::-webkit-scrollbar-thumb {
                background-color: $v300;
            }
        }
    }

// Removing default styles
button {
    background-color: unset;
    font-size: unset;
    border: unset;
    color: unset;
}